.btn-facebook, .btn-twitter, .btn-google{
    width:32%;
}

.btn-facebook{
    background: #3b5998;
    color: #fff;
}
.btn-google{
    background: #3e3e3e;
    color: #fff;
}
.btn-twitter{
    background: #55acee;
    color: #fff;
}